body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.formLogin{
  display: flex;
  flex-direction: column;
}
.registerOrLogin{
  margin-top: 50px;
  text-align: center;
}
.routerLinks{
  text-decoration: none;
  color: purple;
}
.formLogin__input{
  width: 50%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.formLogin__button{
  width: 8%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.messengerMain{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  background-color: white;
  color: black;
  text-align: center;
}
.welcome-and-logout{
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.welcome-and-logout h1{
  margin-left: auto;
  margin-right: auto;
}
.welcome-and-logout button{
  background-color: white;
  height: 70%;
  border: none;
  border-radius: 20px;
  color: black;
  background-color: transparent;
  border: 2px solid black;
}
.formChat{
  margin-bottom: 4vh;
  height: 10vh;
}
.formChat input{
  padding-left: 20px;
  width: 60%;
  height: 50%;
  /* border-color: #9ddce0; */
  border-color: gray;
  border-radius: 8px;
}
.formChat_button{
  margin-left: 5px;
  height: 50%;
  font-size: 15px;
  background: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
}
.formChat_button:hover, .welcome-and-logout button:hover{
  background-color: #9ddce0;
  color: black;
  transition: 0.5s;
}
.oneMessage{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.Mine{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5vh;
}
.others{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 5vh;
}
.formChat__login{
  width: 40%;
  transform: translate(-20px, -5px);
}
.messages{
  overflow: auto; 
  height: 70vh;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(#e66465, #9198e5);
  border: 1px solid black;
}