@mixin standartMargin($property){
    margin-top: $property;
    margin-left: auto;
    margin-right: auto;
}

::-webkit-scrollbar {
  width: 0;
}
body{
    margin: 0;
}
.formLogin{
    display: flex;
    flex-direction: column;
  }
.registerOrLogin{
    margin-top: 50px;
    text-align: center;
  }
.routerLinks{
    text-decoration: none;
    color: purple;
  }
.formLogin__input{
    width: 50%;
    @include standartMargin(20px);
  }
.formLogin__button{
    width: 8%;
    @include standartMargin(20px);
  }
.messengerMain{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    background-color: white;
    color: black;
    text-align: center;
  }
.welcome-and-logout{
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
.welcome-and-logout h1{
    margin-left: auto;
    margin-right: auto;
  }
.welcome-and-logout button{
    background-color: white;
    height: 70%;
    border: none;
    border-radius: 20px;
    color: black;
    margin-right: 2vh;
    background-color: transparent;
    border: 2px solid black;
  }
.formChat{
    height: 8vh;
    margin-left: 20vh;
    width: 70%;
  }
.formChat input{
    padding-left: 20px;
    width: 70%;
    height: 50%;
    /* border-color: #9ddce0; */
    border-color: gray;
    border-radius: 8px;
  }
.formChat_button{
    margin-left: 5px;
    height: 50%;
    font-size: 100%;
    background: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
  }
.formChat_button:hover, .welcome-and-logout button:hover{
    background-color: #9ddce0;
    color: black;
    transition: 0.5s;
  }
.oneMessage{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
.Mine{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5vh;
    opacity: 0.8;
  }
.others{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5vh;
    opacity: 0.8;
  }
.formChat__login{
    width: 40%;
    transform: translate(-14%, -5px);
    font-weight: bold;
  }
.messages{
    overflow: auto; 
    height: 70vh;
    width: 100%;
    margin-right: 1vh;
    margin-left: 1vh;


    background: #cdcbd4;
    border: 1px solid black;
}
.loginText{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Login{
    font-size: 18px;
    font-weight: bold;
    text-align: start;
    margin-left: 2%;
}
.Text{
    margin-left: 2%;
    word-break: break-all;
    flex-wrap: wrap;
}
.chats{
  display: flex;
  flex-direction: row;
}
.chatsList button{
  margin-bottom: 20px;
}
.chatsList{
  margin-left: 5vh;
  height: 70vh;
  overflow-y: scroll;
}
.oneChat{
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  user-select: none;
}
.oneChat:hover{
  background-color: #cdcbd4;
  border: 1px solid black;
  color: black;
  transition: 0.5s;
}
.createChat__form{
  display: flex;
  flex-direction: column;
}
.select{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1vh;
  height: 12.5vh;
  overflow: hidden;
}
.select_item{
  border: 1px solid gray;
  width: 40%;
  height: 4vh;
  margin-top: 1px;
  margin-right: 1px;
}
.select_item:hover{
  background-color: #e1dfed;
  border: 1px solid black;
  transition: 0.3;
}
.createChat__button{
  margin-left: 4vh;
}
