@mixin standartMargin($property){
    margin-top: $property;
    margin-left: auto;
    margin-right: auto;
}

::-webkit-scrollbar {
  width: 0;
}
body{
    margin: 0;
}
#root .App{
  height: 100vh;
}
.App{
  border: 1px solid #b3b2ae;
  border-radius: 4px;
}
.formLogin{
    display: flex;
    flex-direction: column;
  }
.registerOrLogin{
    margin-top: 10%;
    text-align: center;
    font-size: large;
  }
.routerLinks{
    text-decoration: none;
    color: purple;
  }
.formLogin__input{
    width: 50%;
    padding: 5px;
    @include standartMargin(20px);
    border: 1px solid black;
    border-radius: 4px;
  }
.formLogin__button{
    width: 8%;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #F7AD1D;
    @include standartMargin(20px);
  }
.formLogin__button:hover{
  background-color: #CD901A;
  transition: 0.4s;
}
.formLogin__input:focus{
  background-color: #EBEBE7;
}
.messengerMain{
    display: grid;
    grid-template-areas:
      "D D E E   E E E E   E E F F"
      "A A B B   B B B B   B B B B"
      "A A B B   B B B B   B B B B"
      "A A C C   C C C C   C C C C";
  }
.MainName{
    grid-area: E;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
.noChat{
  margin-top: 35vh;
  font-size: large;
  font-weight: bold;
}
.formChat{
    grid-area: C;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
  }
.formChat input{
    margin-left: 50px;
    padding: 5px;
    width: 85%;
    /* border-color: #9ddce0; */
    border: 1px solid #b3b2ae;
    border-radius: 4px;
  }
.formChat_button{
    grid-area: Button;
    margin-left: 5px;
    width: 6%;
    padding: 5px;
    font-size: 100%;
    color: black;
    border: 1px solid #b3b2ae;
    border-radius: 4px;
    background-color: #F7AD1D;
  }
.formChat_button:hover{
    background-color: #CD901A;
    transition: 0.4s;
}
.logout__button{
  grid-area: F;
  width: 50%;
  height: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F21717;
  color: white;
  border: 1px solid #b3b2ae;
  border-radius: 4px;
}
.logout__button:hover{
  background-color: #BE1414;
  transition: 0.4s;
}
.oneMessage{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
.Mine{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5vw;
    opacity: 0.8;
  }
.others{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5vw;
    opacity: 0.8;
  }
.formChat__login{
    grid-area: Login;
    font-weight: bold;
    margin-left: 10%;
  }
.loginText{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Login{
    font-size: 18px;
    font-weight: bold;
    text-align: start;
    margin-left: 2%;
}
.Text{
    margin-left: 2%;
    word-break: break-all;
    flex-wrap: wrap;
}

.messages{
  grid-area: B;
  overflow-y: scroll; 
  text-align: center;
  height: 80vh;
  background: white;
  margin-left: 2vw;
  border-top: 1px solid #b3b2ae;
  border-bottom: 1px solid #b3b2ae;
  border-right: 1px solid #b3b2ae;
}
.chatsList button{
  margin-bottom: 20px;
}

.chatsList{
  grid-area: A;
  height: 93vh;
  border-right: 1px solid #b3b2ae;
  border-top: 1px solid #b3b2ae;
  overflow-y: scroll;
}
.oneChat{
  display: flex;
  flex-wrap: wrap;
  padding-left: 1vw;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  user-select: none;
}
.oneChat:hover{
  background-color: #EDEAE8;
  transition: 0.2s;
}
.usersNumber{
  transform: translate(12vw);
  font-size: 0.9em;
}

.chatName{
  font-size: 1.1em;
  margin-left: 5px;
}
.createChat__form{
  display: flex;
  flex-direction: column;
}
.select{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1vh;
  height: 12.5vh;
  overflow: hidden;
}
.select_item{
  border: 1px solid gray;
  width: 40%;
  height: 4vh;
  margin-top: 1px;
  margin-right: 1px;
}
.select_item:hover{
  background-color: #e1dfed;
  border: 1px solid #b3b2ae;
  transition: 0.3;
}
.createChat__button{
  grid-area: D;
  width: 60%;
  height: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B1F574;
  border: 1px solid #b3b2ae;
  border-radius: 4px;
}
.createChat__button:hover{
  background-color: #9DD868;
  transition: 0.4s;
}
